* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 8px solid #FF8333;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: center;
  padding: 12px;
}

#myTable tr {
  border-bottom: 2px solid black;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #FF8333;
}



#myTable2{
  font-family: arial, sans-serif;
  border-collapse.:.;
  width: 100%;
   
}

td, th {
   border: 2px solid #000000;
   text-align: left;
   padding: 8px;
   
}

tr:nth-child(even) {
   background-color: #35EEE9;
}






#myTable3{
  font-family: arial, sans-serif;
  border-collapse.:.;
  width: 100%;
  height: 10%;
   
}

td, th {
   border: 2px solid #000000;
   text-align: left;
   
   
}

tr:nth-child(even) {
   background-color: #35EEE9;
}






#cod {
	float: right;

}